
.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-title {
  margin-bottom: 80px;
}

.contacts-map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}